.field {
    display: flex;
    flex-flow: column-reverse;
    /* margin-bottom: 1em; */
  }
  label, input, textarea {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  input, textarea, select {
    position: relative;
    left: 25%;
    top: 60px;
    width: 50%;
    margin-bottom: 3%;
    height: 30px;
    font-size: 1.1em;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    color: #fbb803;
  }

  option{
    background-color: black;
  }
  
  input:focus, textarea:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
  
  label {
    position: relative;
    left: 25%;
    top: 55px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    color: #7a7979;
  }

  input:placeholder-shown + label, textarea:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }

  ::-webkit-input-placeholder,  ::-webkit-textarea-placeholder {
    opacity: 0;
    transition: inherit;
  }
 
  input:focus::-webkit-input-placeholder, input:focus::-webkit-textarea-placeholder {
    opacity: 1;
  }

  input:not(:placeholder-shown) + label,
  input:focus + label,  textarea:not(:placeholder-shown) + label,
  textarea:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }

  h3 {
    color: #fff;
    width: 100%;  
    margin: auto;
    font-size: 1.30em;
    margin-bottom: 5%;    
    margin-top: 5%; 
    position: relative;
    left: 25%;
    top: 60px;
}

.error-input{
    background-image:url(../../img/invalid3.png); 
    background-repeat: no-repeat; 
    background-position: right;
    border-bottom: 2px solid #c0392b;
}

.modificar{
  display: none;
}
