
/*
tipográfica global de primer plano ‘Roboto’ y de segundo plano ‘Sans-Serif, su tamaño de fuente global será 16px y sus colores predominantes #fbb803, #212121 y #FFF .
*/

html{
    font-family: 'Roboto', sans-serif;
}


.registroDatos {
    width: 50%;
    height: 50%;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    display: inline-block;
}



.input {
    text-align: center;
}

.entradaTexto input {
    background-color: transparent;
    width: 250px;
    margin-left: 3%;
    border-bottom: 1px solid #b5bdce;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }


.botones {
    text-align: right;
    padding-right:3%; 
    padding-top: 5%;
    padding-bottom: 3%;
}

.linea{
    width: 100%;
    padding-top: 2%;
    margin-bottom: 3%;
    border-bottom: 3px solid black;
    }

    .NombrePLabel {
    margin-right: 25px;
    }

    .ApellidoPLabel {
    margin-right: 25px;
   }

   .CedulaLabel {
    margin-right: 122px;
   }

   .TelefonoLabel {
    margin-right: 112px;
   }

   .CorreoELabel {
    margin-right: 42px;
   }

   .ProvinciaLabel {
    margin-right: 122px;
   }

   .CantonLabel {
    margin-right: 120px;
   }

   .DistritoLabel {
    margin-right: 122px;
   }

   .DireccionExactaLabel{
    margin-right: 51px;
   }

   .GradoAcademicoLabel{
    margin-right: 43px;
   }

   .AnnosExperienciaLabel{
    margin-right: 24px;
   }

   .CursosImpartidosLabel{
    margin-right: 41px;
   }