*/
table { 
  width: 100%;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 17px;
  border-collapse:separate;
  border-spacing:0 15px;
}

tr:nth-of-type(odd) { 
  background: rgba(236, 240, 241,0.5); 
  color: black;
}
tr:nth-of-type(even){
	color: #ecf0f1;
}

tr:hover{
  background-color: rgba(251,184,3,1.5);
}

th { 
  background:rgba(87, 75, 144,1.0); 
  color: #fff; 
  font-weight: bold; 
}
td, th, tr { 
  padding: 6px; 
  border: none;
  text-align: center; 
  white-space: nowrap;
  width: 100%;
}
.wrapper-header{
  display: flow-root;
}
.barraBusqueda{
	background-image: url(../../img/searchicon.png);
	background-repeat: no-repeat;
	background-position: right;
  width: 98%;
  margin: 0.5%;
  padding: 3px 1px 2px 30px;
  border: 1px solid #ddd;
  border-radius: 5%;
}

.btn-list {
	border: none;
	cursor: pointer;
	width: auto;
  padding: 5%;
  margin: 0.5%;
	border-radius: 2%;
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(48, 57, 82,1.0);
  border-color: #ffffff;
}

.btn-list:hover {
	background-color: rgba(89, 98, 117,1.0);
}

.esconder{
  display: none;
}